<!DOCTYPE html>
<html>

<head>
  <title>Creatures</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Creatures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creatures.each do |creature| %>
      <tr>
        <td><%= creature.name %></td>
        <td><%= creature.description %></td>
        <td><%= link_to 'Show', creature,  class: 'btn btn-info btn-xs glyphicon glyphicon-knight pull-right' %></td>
        <td><%= link_to 'Edit', edit_creature_path(creature), class: 'btn btn-primary btn-xs glyphicon glyphicon-pencil pull-right' %></td>
        <td><%= link_to 'Destroy', creature, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-trash pull-right' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Creature', new_creature_path, class: 'btn btn-warning btn-xs glyphicon glyphicon-plus pull-left' %>
</div>
</body>
</html>
