
<!DOCTYPE html>
<html>

<head>
  <title>Creatures</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<h1>New Creature</h1>

<%= render 'form' %>

<%= link_to 'Back', creatures_path,  class: 'btn btn-default glyphicon glyphicon-fast-backward pull-left' %></td>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h1>Creatures!!</h1>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h1>Test</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <%= yield %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h3>Test2</h3>
    </div>
  </div>
</div> -->

</body>
</html>
